{% extends "base.html" %}
{% block content %}
<h2>Departments</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Department Name</th>
            <th>Doctor</th>
        </tr>
    </thead>
    <tbody>
        {% for department in departments %}
        <tr>
            <td>{{ department.id_department }}</td>
            <td>{{ department.department_name }}</td>
            <td>{{ department.fio_doctor }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Добавить данные о департаментах</h2>
<form action="/departments" method="post">
    <select name="action", class="auth-form__input select">
        <option value="insert", class="auth-form__label">insert</option>
        <option value="update", class="auth-form__label">update</option>
        <option value="delete", class="auth-form__label">delete</option>
    </select>
    <label for="id_department">id_department:</label>
    <input type="text" id="id_department" name="id_department">
    <label for="name">department name:</label>
    <input type="text" id="department_name" name="department_name">
    <label for="name">fio doctor:</label>
    <input type="text" id="fio_doctor" name="fio_doctor">
    <button type="submit">Update departments</button>
</form>
{% endblock %}
